@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?c9znzd');
  src:  url('fonts/icomoon.eot?c9znzd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c9znzd') format('truetype'),
    url('fonts/icomoon.woff?c9znzd') format('woff'),
    url('fonts/icomoon.svg?c9znzd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loop:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-play:before {
  content: "\e902";
}
.icon-info1:before {
  content: "\e903";
}
.icon-question:before {
  content: "\ea09";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-checkmark:before {
  content: "\ea10";
}
